<section class="fullwidth-background dt-sc-parallax-section turquoise-bg">
    <!--container starts-->
    <div class="container">
        <!--dt-sc-one-half starts-->
        <div class="dt-sc-one-half column first">
            <h2>Play As You Learn</h2>
            <!--dt-sc-one-half starts-->
            <div class="dt-sc-one-half column first">

                <div class="dt-sc-ico-content type2">
                    <div class="icon">
                        <span class="fa fa-glass"> </span>
                    </div>
                    <h4><a href="#" target="_blank"> English Summer Camp </a></h4>
                    <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                </div>
                <div class="dt-sc-hr-very-small"></div>
                <div class="dt-sc-ico-content type2">
                    <div class="icon">
                        <span class="fa fa-pencil"> </span>
                    </div>
                    <h4><a href="#" target="_blank"> Drawing & Painting </a></h4>
                    <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                </div>
                <div class="dt-sc-hr-very-small"></div>
                <div class="dt-sc-ico-content type2">
                    <div class="icon">
                        <span class="fa fa-bullseye"> </span>
                    </div>
                    <h4><a href="#" target="_blank"> Swimming Camp </a></h4>
                    <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                </div>

            </div>
            <!--dt-sc-one-half ends-->
            <!--dt-sc-one-half starts-->
            <div class="dt-sc-one-half column">

                <div class="dt-sc-ico-content type2">
                    <div class="icon">
                        <span class="fa fa-tachometer"> </span>
                    </div>
                    <h4><a href="#" target="_blank"> Sports Camp </a></h4>
                    <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                </div>
                <div class="dt-sc-hr-very-small"></div>
                <div class="dt-sc-ico-content type2">
                    <div class="icon">
                        <span class="fa fa-magic"> </span>
                    </div>
                    <h4><a href="#" target="_blank"> Personalizing </a></h4>
                    <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                </div>
                <div class="dt-sc-hr-very-small"></div>
                <div class="dt-sc-ico-content type2">
                    <div class="icon">
                        <span class="fa fa-music"> </span>
                    </div>
                    <h4><a href="#" target="_blank"> Sing & Dance </a></h4>
                    <p>Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, inst tibulum nisl ligula....</p>
                </div>

            </div>
            <!--dt-sc-one-half ends-->
        </div>
        <!--dt-sc-one-half ends-->
        <!--dt-sc-one-half starts-->
        <div class="dt-sc-one-half column">
            <h2>With Music4Kids, music is child's play!</h2>
            <div class="add-slider-wrapper">
                <ul class="add-slider">
                    <li> <img src="@Url.Content("~/Content/images/add1.jpg")" alt="" title=""> </li>
                    <li> <img src="http://wedesignthemes.com/themes/dt-kidslife/wp-content/uploads/2015/01/parallax-image.png" alt="" title=""> </li>
                    <li> <img src="@Url.Content("~/Content/images/add2.jpg")" alt="" title=""> </li>
                </ul>
            </div>
        </div>
        <!--dt-sc-one-half ends-->
    </div>
    <!--container ends-->
</section>

