w<section class="fullwidth-background dt-sc-parallax-section orange-bg">
    <!--container starts-->
    <div class="container">
        <h2 class="dt-sc-hr-white-title">Recent Blog</h2>
        <div class="column dt-sc-one-half first">
            <article class="blog-entry">
                <div class="blog-entry-inner">
                    <div class="entry-meta">
                        <a href="blog-detail.html" class="blog-author"><img src="@Url.Content("~/Content/images/rounded-bg-img.jpg")" alt="" title=""></a>
                        <div class="date">
                            <span> 27 </span>
                            <p>
                                Aug <br> 2014
                            </p>
                        </div>
                        <a href="#" class="comments">
                            12 <span class="fa fa-comment"> </span>
                        </a>
                        <a href="#" class="entry_format"><span class="fa fa-picture-o"></span></a>
                    </div>
                    <div class="entry-thumb">
                        <a href="blog-detail.html"><img src="@Url.Content("~/Content/images/blog_img1.jpg")" alt="" title=""></a>
                    </div>
                    <div class="entry-details">
                        <div class="entry-title">
                            <h3>
                                <a href="blog-detail.html"> Activities Improves Mind </a>
                            </h3>
                        </div>
                        <!--entry-metadata ends-->
                        <div class="entry-body">
                            <p>Roin bibendum nibhsds. Nuncsdsd fermdada msit ametadasd consequat. Praes porr nulla sit amet dui lobortis, id venenatis nibh accums.</p>
                        </div>
                        <a href="blog-detail.html" class="dt-sc-button small"> Read More <span class="fa fa-chevron-circle-right"> </span></a>
                    </div>
                </div>
            </article>
        </div>
        <!--dt-sc-one-half ends-->
        <div class="column dt-sc-one-half">
            <article class="blog-entry">
                <div class="blog-entry-inner">
                    <div class="entry-meta">
                        <a href="blog-detail.html" class="blog-author"><img src="@Url.Content("~/Content/images/rounded-bg-img.jpg")" alt="" title=""></a>
                        <div class="date">
                            <span> 27 </span>
                            <p>
                                Aug <br> 2014
                            </p>
                        </div>
                        <a href="#" class="comments">
                            12 <span class="fa fa-comment"> </span>
                        </a>
                        <a href="#" class="entry_format"><span class="fa fa-picture-o"></span></a>
                    </div>
                    <div class="entry-thumb">
                        <a href="blog-detail.html"><img src="@Url.Content("~/Content/images/blog_img2.jpg")" alt="" title=""></a>
                    </div>
                    <div class="entry-details">
                        <div class="entry-title">
                            <h3>
                                <a href="blog-detail.html"> Weekly Reader Zone </a>
                            </h3>
                        </div>
                        <!--entry-metadata ends-->
                        <div class="entry-body">
                            <p>Iid venenatis nibh accums. Doinbibe ndum nibhsds. Nuncsdsd fermdada msit ametadasd consequat. Praes porr nulla sit amet dui lobortis, id venenatis nibh accumsan...</p>
                        </div>
                        <a href="blog-detail.html" class="dt-sc-button small"> Read More <span class="fa fa-chevron-circle-right"> </span></a>
                    </div>
                </div>
            </article>
        </div>
        <!--dt-sc-one-half ends-->
    </div>
    <!--container ends-->
</section>

