<section class="fullwidth-background dt-sc-parallax-section product_bg">
    <!--container starts-->
    <div class="container">
        <h2 class="dt-sc-hr-white-title">Recent Products</h2>
        <ul class="products">
            <li class="dt-sc-one-fourth column first">
                <div class="product-thumb">
                    <a href="#">
                        <img src="@Url.Content("~/Content/images/product6.jpg")" alt="" title="">
                    </a>
                    <span class="sale"> Sale! </span>
                    <div class="image-overlay">
                        <div class="product-button">
                            <a href="#" class="add-cart-btn"> Add to cart </a>
                        </div>
                    </div>
                </div>
                <div class="product-details">
                    <h5><a href="#"> Ellents Style Grade </a></h5>
                    <span class="price"> $20.00 </span>
                </div>
            </li>
            <li class="dt-sc-one-fourth column">
                <div class="product-thumb">
                    <a href="#">
                        <img src="@Url.Content("~/Content/images/product11.jpg")" alt="" title="">
                    </a>
                    <div class="image-overlay">
                        <div class="product-button">
                            <a href="#" class="add-cart-btn"> Add to cart </a>
                        </div>
                    </div>
                </div>
                <div class="product-details">
                    <h5><a href="#"> Ellents Style Grade </a></h5>
                    <span class="price"> $20.00 </span>
                </div>
            </li>
            <li class="dt-sc-one-fourth column">
                <div class="product-thumb">
                    <a href="#">
                        <img src="@Url.Content("~/Content/images/product3.jpg")" alt="" title="">
                    </a>
                    <span class="sale"> Sale! </span>
                    <div class="image-overlay">
                        <div class="product-button">
                            <a href="#" class="add-cart-btn"> Add to cart </a>
                        </div>
                    </div>
                </div>
                <div class="product-details">
                    <h5><a href="#"> Ellents Style Grade </a></h5>
                    <span class="price"> $20.00 </span>
                </div>
            </li>
            <li class="dt-sc-one-fourth column">
                <div class="product-thumb">
                    <a href="#">
                        <img src="@Url.Content("~/Content/images/product4.jpg")" alt="" title="">
                    </a>
                    <div class="image-overlay">
                        <div class="product-button">
                            <a href="#" class="add-cart-btn"> Add to cart </a>
                        </div>
                    </div>
                </div>
                <div class="product-details">
                    <h5><a href="#"> Ellents Style Grade </a></h5>
                    <span class="price"> $20.00 </span>
                </div>
            </li>
        </ul>
    </div>
    <!--container ends-->
</section>

