<div class="container">

    <div class="dt-sc-one-fourth column first">
        <div class="dt-sc-ico-content type1">
            <div class="icon">
                <span class="icon-outer">
                    <img src="@Url.Content("~/Content/images/service1.jpg")" alt="" title="">
                    <span class="infolayer">
                        <a href="#"><i class="fa fa-link"></i></a>
                    </span>
                </span>
            </div>
            <h4><a href="">Active Learning</a></h4>
            <p>Curabitur ultrices posuere mattis. Nam ullamcorper, diam sit amet euismod pelleo ntesque, eros risus rhoncus libero, invest tibulum nisl ligula</p>
        </div>
    </div>

    <div class="dt-sc-one-fourth column">
        <div class="dt-sc-ico-content type1">
            <div class="icon">
                <span class="icon-outer">
                    <img src="@Url.Content("~/Content/images/service2.jpg")" alt="" title="">
                    <span class="infolayer">
                        <a href="#"><i class="fa fa-link"></i></a>
                    </span>
                </span>
            </div>
            <h4><a href="">Music Class</a></h4>
            <p>Decor ostdcaer urabitur ultrices posuere mattis. Nam ullamcorper, diam sit amet euismod pelleontesque, eros risus rhoncus libero, invest tibulum nisl ligula</p>
        </div>
    </div>

    <div class="dt-sc-one-fourth column">
        <div class="dt-sc-ico-content type1">
            <div class="icon">
                <span class="icon-outer">
                    <img src="@Url.Content("~/Content/images/service3.jpg")" alt="" title="">
                    <span class="infolayer">
                        <a href="#"><i class="fa fa-link"></i></a>
                    </span>
                </span>
            </div>
            <h4><a href="">Yoga Class</a></h4>
            <p>Rabitur ultrices posuere mattis. Nam ullamcorper, diam sit  euismod pelleo ntesque, eros risus rhoncus libero, invest tibulum nisl gedretu osterftra ligula</p>
        </div>
    </div>

    <div class="dt-sc-one-fourth column">
        <div class="dt-sc-ico-content type1">
            <div class="icon">
                <span class="icon-outer">
                    <img src="@Url.Content("~/Content/images/service4.jpg")" alt="" title="">
                    <span class="infolayer">
                        <a href="#"><i class="fa fa-link"></i></a>
                    </span>
                </span>
            </div>
            <h4><a href="">Kung fu Class</a></h4>
            <p>Curabitur ultrices posuere mattis. Nam ullamcorper, diam sit amet euismod pelleo ntesque, eros risus rhoncus libero, invest tibulum nisl ligula</p>
        </div>
    </div>

</div>
